OPS_NETWORK="localhost"
OPS_CHAIN_ID="31337"

# RPC URL for localhost network
LOCALHOST_RPC_URL=http://localhost:8545
# Replace with your own private key for localhost testing
LOCALHOST_PRIVATE_KEY=0x

# Mainnet RPC URL for localhost testing with Anvil
NODE_URL=https://eth.drpc.org
